<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* Define your CSS styles inline */
      .bdy {
        background-color: #262626;
        padding: 21px 16px;
        height: max-content;
      }

      .bdy-content {
        display: flex;
        flex-direction: column;
        gap: 23px;
      }

      .bdy p,
      .bdy ul {
        font-family: "Darker Grotesque", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
      }

      .bdy h2 {
        font-family: "Darker Grotesque", sans-serif;
        font-size: 20px;
        font-weight: 900;
        color: #ffffff;
      }

      .bdy h1 {
        font-family: "Darker Grotesque", sans-serif;
        font-size: 24px;
        font-weight: 900;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <main class="main">
      <div
        style="
          padding: 20px 20px;
          background-color: #3a3a3a;
          position: relative;
          border: 1px solid blue;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90%;
        "
      >
        <div
          class="bdy"
          style="
            background-color: #262626;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            max-width: 70%;
            margin: 0 auto;
          "
        >
          <div class="bdy-content" style="display: block">
            <div class="logo">
              <img
                src="https://res.cloudinary.com/dwl0pqzlx/image/upload/v1712586316/Frame_5_objfql.png"
                alt=""
              />
            </div>
            <h2
              style="
                font-family: 'Darker Grotesque', sans-serif;
                font-size: 20px;
                font-weight: 900;
                color: #ffffff;
              "
            >
              Payment Confirmation for Coal-City Half Marathon
            </h2>

            <h1
              style="
                font-family: 'Darker Grotesque', sans-serif;
                font-size: 24px;
                font-weight: 900;
                color: #ffffff;
              "
            >
              Dear <%= name %>,
            </h1>
            <p
              style="
                font-family: 'Darker Grotesque', sans-serif;
                font-size: 16px;
                font-weight: 600;
                color: #ffffff;
              "
            >
              We are pleased to confirm that we have received your payment for
              the Coal-City Half Marathon registration. Thank you for completing
              the payment process!
            </p>

            <div>
              <p
                style="
                  font-family: 'Darker Grotesque', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  color: #ffffff;
                "
              >
                Payment Details:
              </p>
              <ul
                style="
                  font-family: 'Darker Grotesque', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  color: #ffffff;
                "
              >
                <li>Total Amount Paid: 2000</li>
                <li>Payment Method: <%= payment_type %></li>
                <li>Transaction ID: <%= transaction_id %></li>
              </ul>
            </div>

            <p
              style="
                font-family: 'Darker Grotesque', sans-serif;
                font-size: 16px;
                font-weight: 600;
                color: #ffffff;
              "
            >
              Please keep this email as a receipt for your payment. If you have
              any questions or concerns regarding your payment, please don't
              hesitate to contact our finance department at [Finance Email] or
              [Finance Phone Number]. Thank you for choosing to participate in
              the Coal-City Half Marathon. We look forward to a memorable event
              with you!
            </p>

            <p
              style="
                font-family: 'Darker Grotesque', sans-serif;
                font-size: 16px;
                font-weight: 600;
                color: #ffffff;
              "
            >
              Warm Regards,<br />
              Coal City Half Marathon Organizing Committee
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
